.fade-window {
    display: block !important;
    position: absolute;
    width: 930px;
    height: 100%;
    z-index: 9999;
    top: 0px;
    left: -304px;
    margin: 0 auto;
    background: #00000047;
}
.fade-window > div {
    position: absolute !important;
    top: 30% !important;
    left: 50% !important;
}