.dialogs {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    height: 100%;

}

.dialogs-items {

}

.dialogs-item {
    text-align: center;
    margin: 15px 0px;
}

.messages {

}

.message:nth-child(even) {
    text-align: right;
}